Repository bastionzero/zli, pull requests merged in 2022-08, with the labels that each got.

#498 Remove `generate-bash`
  package.json
  src/cli-driver.ts
Labels: refactor

#495 Collapse `zli policy` related commands
  package.json
  src/cli-driver.ts
  src/handlers/generate/generate-bash.handler.ts
  src/handlers/generate/generate-bash.mock.ts
  src/handlers/generate/generate-kube-config.mock.ts
  src/handlers/generate/generate-kube-yaml.handler.ts
  src/handlers/generate/generate-kube-yaml.mock.ts
  src/handlers/generate/generate-ssh-config.mock.ts
  src/handlers/generate/generate-ssh-proxy.mock.ts
  src/handlers/policy/list-kubernetes-policies.handler.ts
  src/handlers/policy/list-proxy-policies.handler.ts
  src/handlers/policy/list-target-connect-policies.handler.ts
  src/handlers/policy/policy-describe-cluster/describe-cluster-policy.command-builder.ts
  src/handlers/policy/policy-describe-cluster/describe-cluster-policy.handler.ts
  src/handlers/policy/policy-group/add-group-policy.command-builder.ts
  src/handlers/policy/policy-group/add-group-policy.handler.ts
  src/handlers/policy/policy-group/delete-group-policy-handler.ts
  src/handlers/policy/policy-group/delete-group-policy.command-builder.ts
  src/handlers/policy/policy-group/list-groups.command-builder.ts
  src/handlers/policy/policy-group/list-groups.handler.ts
  src/handlers/policy/policy-list/list-kubernetes-policies.handler.ts
  src/handlers/policy/policy-list/list-organization-controls-policies.handler.ts
  src/handlers/policy/policy-list/list-policies.handler.ts
  src/handlers/policy/policy-list/list-policies.test.ts
  src/handlers/policy/policy-list/list-proxy-policies.handler.ts
  src/handlers/policy/policy-list/list-session-recording-policies.handler.ts
  src/handlers/policy/policy-list/list-target-connect-policies.handler.ts
  src/handlers/policy/policy-list/policy-list.command-builder.ts
  src/handlers/policy/policy-targetgroup/add-targetgroup-policy.command-builder.ts
  src/handlers/policy/policy-targetgroup/add-targetgroup-policy.handler.ts
  src/handlers/policy/policy-targetgroup/delete-targetgroup-policy.command-builder.ts
  src/handlers/policy/policy-targetgroup/delete-targetgroup-policy.handler.ts
  src/handlers/policy/policy-targetgroup/list-targetgroups.command-builder.ts
  src/handlers/policy/policy-targetgroup/list-targetgroups.handler.ts
  src/handlers/policy/policy-targetuser/add-targetuser-policy.command-builder.ts
  src/handlers/policy/policy-targetuser/add-targetuser-policy.handler.ts
  src/handlers/policy/policy-targetuser/delete-targetuser-policy.command-builder.ts
  src/handlers/policy/policy-targetuser/delete-targetuser-policy.handler.ts
  src/handlers/policy/policy-targetuser/list-targetusers.command-builder.ts
  src/handlers/policy/policy-targetuser/list-targetusers.handler.ts
  src/handlers/policy/policy-user/add-user-policy.command-builder.ts
  src/handlers/policy/policy-user/add-user-policy.handler.ts
  src/handlers/policy/policy-user/delete-user-policy.command-builder.ts
  src/handlers/policy/policy-user/delete-user-policy.handler.ts
  src/handlers/policy/policy-user/list-users.command-builder.ts
  src/handlers/policy/policy-user/list-users.handler.ts
  src/system-tests/tests/suites/kube.ts
Labels: refactor

#499 Update `zli close --all` message
  package.json
  src/handlers/close-connection/close-connection.handler.ts
Labels: bug, documentation

#500 Add `create` functionality to `zli policy`
  package.json
  src/cli-driver.ts
  src/handlers/close-connection/close-connection.command-builder.ts
  src/handlers/group/group.command-builder.ts
  src/handlers/middleware.handler.ts
  src/handlers/policy/policy-create/create-cluster-policy.handler.ts
  src/handlers/policy/policy-create/create-policy.command-builder.ts
  src/handlers/policy/policy-create/create-proxy-policy.handler.ts
  src/handlers/policy/policy-create/create-recording-policy.handler.ts
  src/handlers/policy/policy-create/create-tconnect-policy.handler.ts
  src/handlers/target-group/target-group.command-builder.ts
  src/handlers/target-user/target-user.command-builder.ts
  src/handlers/user/user.command-builder.ts
  src/system-tests/tests/suites/rest-api/policies/policies-kubernetes.ts
  src/system-tests/tests/suites/rest-api/policies/policies-proxy.ts
  src/system-tests/tests/suites/rest-api/policies/policies-session-recording.ts
  src/system-tests/tests/suites/rest-api/policies/policies-target-connect.ts
  src/utils/policy-utils.ts
  src/utils/utils.ts
Labels: enhancement, Feature Branch

#511 Fix case ID for new SSH test
  package-lock.json
  package.json
  src/system-tests/tests/targets-to-run.ts
Labels: tests

#508 Add expiration time to credentials used during system tests
  package-lock.json
  package.json
  src/system-tests/digital-ocean/digital-ocean-kube-service.ts
  src/system-tests/tests/suites/agent-container.ts
Labels: tests

#512 Update imagePullSecrets for agent container pod spec
  package-lock.json
  package.json
  src/system-tests/tests/suites/agent-container.ts
Labels: tests

#513 Change connect call runShellConnectTestHelper
  package.json
  src/system-tests/tests/utils/connect-utils.ts
Labels: bug, tests

#519 Fix IPerf+Web system tests
  package-lock.json
  package.json
  src/system-tests/tests/suites/iperf.ts
  src/system-tests/tests/suites/web.ts
Labels: bug, tests, Hotfix

#520 Apply CWC-2061 to develop
  package-lock.json
  package.json
  src/system-tests/tests/suites/iperf.ts
  src/system-tests/tests/suites/web.ts
Labels: bug, tests
