Repository bastionzero/zli, pull requests merged in 2022-05, with the labels that each got.

#413 Apply hotfix done in #412 to develop
  package-lock.json
  package.json
  src/handlers/connect/db-connect.handler.ts
  src/handlers/connect/web-connect.handler.ts
  src/handlers/disconnect/disconnect.handler.ts
  src/handlers/logout.handler.ts
  src/utils/daemon-utils.ts
Labels: bug

#416 Add functionality to add and remove users and groups from Proxy Policies [CWC-1808]
  package.json
  src/handlers/group/add-group-policy.handler.ts
  src/handlers/group/delete-group-policy-handler.ts
  src/handlers/user/add-user-policy.handler.ts
  src/handlers/user/delete-user-policy.handler.ts
  src/http-services/policy/policy.http-services.ts
Labels: bug, enhancement, Hotfix

#417 Adjust zli user help [CWC-1697]
  package.json
  src/handlers/user/user.command-builder.ts
Labels: bug, documentation, enhancement

#407 Bzero target system tests
  Codebuild/system-test-codebuild.yaml
  package-lock.json
  package.json
  src/handlers/attach/attach.handler.ts
  src/handlers/connect/shell-connect.handler.ts
  src/system-tests/tests/suites/connect.ts
  src/system-tests/tests/suites/groups.ts
  src/system-tests/tests/suites/iperf.ts
  src/system-tests/tests/suites/kube.ts
  src/system-tests/tests/suites/list-targets.ts
  src/system-tests/tests/suites/rest-api/organization.ts
  src/system-tests/tests/suites/session-recording.ts
  src/system-tests/tests/suites/ssh.ts
  src/system-tests/tests/suites/vt.ts
  src/system-tests/tests/system-test-setup.ts
  src/system-tests/tests/system-test.ts
  src/system-tests/tests/system-test.types.ts
  src/system-tests/tests/targets-to-run.ts
  src/system-tests/tests/utils/connect-utils.ts
  src/system-tests/tests/utils/test-utils.ts
  src/system-tests/tests/utils/utils.ts
  src/system-tests/tests/utils/zli-utils.ts
  src/utils/daemon-utils.ts
  src/utils/shell-util-wrappers.ts
  src/utils/shell-utils.ts
Labels: tests

#420 Ensure we reset testPassed
  package.json
  src/system-tests/tests/suites/connect.ts
  src/system-tests/tests/suites/groups.ts
  src/system-tests/tests/suites/session-recording.ts
Labels: bug, tests

#415 SSM targets REST API test suite
  src/http-services/targets/ssm/ssm-target.http-services.ts
  src/system-tests/tests/suites/rest-api/ssm-targets.ts
  src/system-tests/tests/system-test.ts
Labels: tests

#424 Fix connect system test echo bug without sleeps
  .gitignore
  package.json
  src/system-tests/tests/suites/connect.ts
  src/system-tests/tests/system-test.ts
  src/system-tests/tests/utils/connect-utils.ts
  src/system-tests/tests/utils/zli-utils.ts
Labels: bug, tests

#423 Remove things from codebuild spec that are no longer required
  .github/workflows/systemtest-ci-master.yml
  Codebuild/system-test-codebuild-prod.yaml
  Codebuild/system-test-codebuild.yaml
  package-lock.json
  package.json
Labels: enhancement

#428 Kubernetes cluster REST API test suite
  package-lock.json
  package.json
  src/http-services/targets/kube/kube.http-services.ts
  src/system-tests/tests/suites/rest-api/kube-targets.ts
  src/system-tests/tests/system-test.ts
Labels: tests

#427 Upgrade @types/jest
  Codebuild/system-test-codebuild.yaml
  Codebuild/unit-test.yml
  package-lock.json
  package.json
Labels: bug, enhancement

#433 Fix running IdP group tests when running against staging
  src/system-tests/tests/system-test.ts
Labels: bug

#431 Ensure we add iperf test numbers
  package.json
  src/system-tests/tests/suites/iperf.ts
  src/system-tests/tests/system-test.types.ts
  src/system-tests/tests/targets-to-run.ts
Labels: tests

#418 Dynamic access config REST API test suite
  package-lock.json
  package.json
  src/http-services/targets/dynamic-access/dynamic-access-config.http-services.ts
  src/system-tests/tests/suites/rest-api/dynamic-access-configs.ts
  src/system-tests/tests/system-test.ts
Labels: tests

#437 Ensure we mock out FetchDataMiddleware
  package.json
  src/handlers/close-connection/close-connection.handler.test.ts
  src/handlers/policy/list-policies.test.ts
Labels: tests

#438 Fix iperf caseid for al2
  package.json
  src/system-tests/tests/targets-to-run.ts
Labels: bug, tests

#443 Spaces REST API test suite
  package-lock.json
  package.json
  src/system-tests/tests/suites/rest-api/spaces.ts
  src/system-tests/tests/system-test.ts
Labels: tests

#411 MFA REST API test suite
  package-lock.json
  package.json
  src/http-services/mfa/mfa.http-services.ts
  src/system-tests/tests/suites/rest-api/mfa.ts
  src/system-tests/tests/system-test.ts
Labels: tests

#406 System test changes for cleaner job
  package-lock.json
  package.json
  src/system-tests/tests/system-test-setup.ts
  src/system-tests/tests/system-test.ts
Labels: enhancement

#448 Remove stopRetryingIfClause for pollDropletUntilActive
  package-lock.json
  package.json
  src/system-tests/digital-ocean/digital-ocean-ssm-target-service.ts
Labels: bug, tests

#449 Generate Unit Tests
  package.json
  src/cli-driver.ts
  src/handlers/generate/generate-bash.handler.ts
  src/handlers/generate/generate-bash.mock.ts
  src/handlers/generate/generate-bash.test.ts
  src/handlers/generate/generate-kube-config.handler.ts
  src/handlers/generate/generate-kube-config.mock.ts
  src/handlers/generate/generate-kube-config.test.ts
  src/handlers/generate/generate-kube-yaml.handler.ts
  src/handlers/generate/generate-kube-yaml.mock.ts
  src/handlers/generate/generate-kube-yaml.test.ts
  src/handlers/generate/generate-kube.command-builder.ts
  src/handlers/generate/generate-ssh-config.handler.ts
  src/handlers/generate/generate-ssh-config.mock.ts
  src/handlers/generate/generate-ssh-config.test.ts
  src/handlers/generate/generate-ssh-proxy.mock.ts
  src/handlers/generate/generate-ssh-proxy.test.ts
  src/handlers/list-targets/list-targets.test.ts
  src/handlers/policy/list-policies.test.ts
  src/http-services/auto-discovery-script/auto-discovery-script.http-services.ts
  src/utils/unit-test-utils.ts
  src/utils/utils.ts
Labels: tests

#447 User events testing in system test and new REST API suite
  package-lock.json
  package.json
  src/http-services/events/events.http-server.ts
  src/system-tests/tests/suites/connect.ts
  src/system-tests/tests/suites/rest-api/events.ts
  src/system-tests/tests/system-test.ts
  src/system-tests/tests/utils/test-utils.ts
Labels: tests

#451 Fix listing policies when no type filter is provided [CWC-1903]
  package.json
  src/handlers/policy/list-organization-controls-policies.handler.ts
  src/handlers/policy/list-proxy-policies.handler.ts
  src/handlers/policy/list-target-connect-policies.handler.ts
Labels: bug
