Repository bastionzero/zli, pull requests merged in 2022-12, with the labels that each got.

#593 Fix service account system tests
  package-lock.json
  package.json
  src/system-tests/tests/suites/rest-api/service-accounts.ts
  src/system-tests/tests/suites/service-account.ts
  src/system-tests/tests/system-test-setup.ts
  src/system-tests/tests/system-test.ts
Labels: tests, Hotfix

#595 Adjust agent version filtering to support -beta subfix [CWC-2056]
  package.json
  src/handlers/service-account/configure-service-account.handler.ts
  src/services/list-targets/list-targets.service.ts
  src/system-tests/tests/suites/service-account.ts
  src/system-tests/tests/suites/session-recording.ts
  src/system-tests/tests/system-test-setup.ts
  src/system-tests/tests/system-test.ts
Labels: bug, Hotfix

#594 Apply #593 on develop
  package-lock.json
  package.json
  src/handlers/service-account/configure-service-account.handler.ts
  src/services/list-targets/list-targets.service.ts
  src/system-tests/tests/suites/rest-api/service-accounts.ts
  src/system-tests/tests/suites/service-account.ts
  src/system-tests/tests/suites/session-recording.ts
  src/system-tests/tests/system-test-setup.ts
  src/system-tests/tests/system-test.ts
Labels: tests

#568 Update system tests for default MFA
  package.json
  src/cli-driver.ts
  src/handlers/register/register.command-builder.ts
  src/handlers/register/register.handler.ts
  src/system-tests/tests/suites/rest-api/mfa.ts
  src/system-tests/tests/suites/rest-api/policies/policies-organization-controls.ts
  src/system-tests/tests/system-test-setup.ts
  src/system-tests/tests/system-test.ts
  src/utils/utils.ts
Labels: tests, ci-run-service-account-tests

#601 Adjust org policy cleanup
  package.json
  src/system-tests/tests/suites/rest-api/policies/policies-organization-controls.ts
Labels: bug, Hotfix

#602 Adjust org policy cleanup hotfix
  package.json
  src/system-tests/tests/suites/rest-api/policies/policies-organization-controls.ts
Labels: bug

#603 [SystemTests] Dont yum update when installing bzero
  package-lock.json
  package.json
  scripts/install-zli.sh
  src/system-tests/tests/system-test-setup.ts
Labels: tests, Hotfix

#606 [SystemTest] fix mfa system tests for service accounts
  package-lock.json
  package.json
  scripts/install-zli.sh
  src/system-tests/tests/suites/rest-api/mfa.ts
Labels: tests, Hotfix

#607 Apply 606 to develop
  package-lock.json
  package.json
  scripts/install-zli.sh
  src/system-tests/tests/suites/rest-api/mfa.ts
Labels: tests

#604 Apply #603 on develop
  package-lock.json
  package.json
  scripts/install-zli.sh
  src/system-tests/tests/system-test-setup.ts
Labels: tests
