Repository bastionzero/zli, pull requests merged in 2023-01, with the labels that each got.

#614 Remove SSM from system tests
  package-lock.json
  package.json
  src/system-tests/digital-ocean/digital-ocean-target-service.ts
  src/system-tests/digital-ocean/digital-ocean-target.service.types.ts
  src/system-tests/tests/suites/agent-container.ts
  src/system-tests/tests/suites/agent-recovery.ts
  src/system-tests/tests/suites/connect.ts
  src/system-tests/tests/suites/db.ts
  src/system-tests/tests/suites/groups.ts
  src/system-tests/tests/suites/iperf.ts
  src/system-tests/tests/suites/list-targets.ts
  src/system-tests/tests/suites/rest-api/bzero-targets.ts
  src/system-tests/tests/suites/rest-api/database-targets.ts
  src/system-tests/tests/suites/rest-api/policies/policies-target-connect.ts
  src/system-tests/tests/suites/rest-api/ssm-targets.ts
  src/system-tests/tests/suites/rest-api/web-targets.ts
  src/system-tests/tests/suites/session-recording.ts
  src/system-tests/tests/suites/ssh.ts
  src/system-tests/tests/suites/web.ts
  src/system-tests/tests/system-test-cleanup.ts
  src/system-tests/tests/system-test-setup.ts
  src/system-tests/tests/system-test.ts
  src/system-tests/tests/system-test.types.ts
  src/system-tests/tests/targets-to-run.ts
  src/system-tests/tests/utils/connect-utils.ts
  src/system-tests/tests/utils/ssh-utils.ts
Labels: tests, ci-run-serviceaccount, ci-run-google

#619 Improve connect system tests event logs
  package-lock.json
  package.json
  src/system-tests/tests/suites/connect.ts
  src/system-tests/tests/suites/kube.ts
  src/system-tests/tests/utils/connect-utils.ts
  src/system-tests/tests/utils/test-utils.ts
Labels: tests

#620 Fix command event race condition
  package-lock.json
  package.json
  src/system-tests/tests/utils/connect-utils.ts
Labels: bug

#621 Fix command event race condition
  package-lock.json
  package.json
  src/system-tests/tests/utils/connect-utils.ts
Labels: tests, Hotfix
